.sectioncards {
  width: 350px;
  padding: 30px;
  flex-shrink: 0;
  scroll-snap-type: x proximity;
}
.image {
  width: 100%;
}
.paras {
  font-family: "Source Sans Pro";
  color: var(--color--black);
  margin-top: 20px;
  text-align: center;
}
.images{
    scroll-snap-align: start end;
}