.Nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  position: sticky;
  top: 0px;
  z-index: 100;
}
.navbtn {
  border-radius: 10px;
  overflow: hidden;
}
.btn {
  font-size: 0.9rem;
  background-color: var(--color-gray);
  border: none;
  padding: 0.8rem 2.5rem;
  position: relative;
}

.btn:where(:not(.selected)) + .btn:where(:not(.selected))::before {
  background: linear-gradient(var(--color-gray), #000, var(--color-gray));
  position: absolute;
  width: 1px;
  top: 10px;
  bottom: 10px;
  content: "";
  left: 1px;
}
.selected {
  background-color: var(--color-red);
  color: white;
}
@media only screen and (max-width: 480px){
.Nav{
  width: 100%;
  box-sizing: border-box;
  align-items: stretch;
  justify-content: center;
}
.navbtn{
  width: 100%;
  border-radius: 10px;
  display: flex;
}
.btn{
  width: 100%;
  padding: 0.8rem 1.5rem;
}
} 