.speaker {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 26px;
  gap: 33px;
  position: relative;
  background-color: white;
  border: 1px solid var(--color-light-gray);
}
.rtl {
  flex-direction: row-reverse;
}
.rtl .name {
  text-align: right;
}
.rtl .description {
  text-align: right;
}
.description {
  font-size: 1.1rem;
  color: var(--color-black);
  font-family: "Source Sans Pro";
  margin: 0;
}
.profile {
  width: 150px;
}
.name {
  color: var(--color-blue);
  font-family: "Soho";
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 0;
  margin: 0.5rem 0;
}

.speaker::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 50%;
  background-color: var(--color-red);
}

.rtl::after {
  right: 0;
  left: initial;
}
@media only screen and (max-width: 480px){
  

.name{
  text-align: center;
}
.rtl .name{
  text-align: center;
}
.description{
  text-align: center;
}
.rtl .description {
  text-align: center;
}
.speaker::after {
  content: "";
  position: absolute;
  top: 0;
  left: 6px;
  width: 6px;
  height: 50%;
  background-color: var(--color-red);
}
.rtl::after {
  right: 0;
  left: initial;
}
}