@import "./fonts.css";

:root {
  --color-blue: #005e9e;
  --color-red: #ed1c24;
  --color-black: #231f20;
  --color-gray: #f1f1f1;
  --color-black: #58595b;
  --color-light-gray: #d1d3d4;

  --section-heading-size: 1.6rem;
}
html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Soho";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
